/*  PERFIL USUARIO CONTAINER */

.perfil-usuario-container {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9; 

}

/* PERFIL USUARIO HEADER */
.perfil-usuario-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

@media (max-width: 768px) {
  .perfil-usuario-header {
      flex-direction: column;
      align-items: center;
  }

  .datos-perfil-usuario,
  .barra-navegacion {
      width: 100%;
  }
}

.seccion-re-evaluacion,
.seccion-estadisticas-gravedad,
.seccion-diario-evaluaciones,
.seccion-tipos-ansiedad {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.seccion-reto-minijuego {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 20px auto;
}

.seccion-reto-diario,
.seccion-acceso-minijuego {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 0 10px;
  min-height: 100%;
}

.modal-gravedad {
  background: #d15353;
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  text-align: center;
}
.overlay-gravedad {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-ayuda {
  background-color: #00796b;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.cerrar-modal {
  background-color: #ea8585;
  color: white;
  padding: 10px 20px;
  margin-right: auto;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}